@keyframes right{
    from{
        transform: translate(-100%);
    }

    to {
        transform: translate(0);
    }
}

@keyframes down {
    from{
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
    }
}


@keyframes troca{
    0%{
        opacity: 1;
        transform:scale(1.1,1.1);

    }
    100%{
        opacity: 0;
    }
}

.animate-down{
    animation-name: down;
    animation-duration: 500ms;

}

.animate-right{
    animation-name: right;
    animation-duration: 500ms;
}

.animate-troca{
    animation-name: troca;
    animation-duration: 500ms;
}


