
.conteudo{
    width: 100%;
    height: auto;
    background-color: wheat;
    background: url(../imgs/mapas.png) fixed center;
    padding: 30px 0;
}

.conteudo .container{
    width: 80%;
    margin: auto;
    height: auto;
    /* background-color: thistle; */
    padding-top: 40px;
    box-shadow: 0px 10px 15px rgba(0,0,0,.5);
    overflow: hidden;
    border: 5px white solid;
    font-family: 'CSGO';
}

.conteudo .container .header{
    width: 70%;
    margin: 0 auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.conteudo .container .cont{
    width: 85%;
    margin: 0 auto;
    height: 600px;
    /* background-color: thistle; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
}

.conteudo .container .cont p{
    width: 40%;
    color: white;

}

.conteudo .container .cont img{
    width: 60%;
    height: 600px;
    background-color: black;
}


