
.conteudo{
    width: 100%;
    height: auto;
    background-color: #111212;
    padding: 55px 0 20px 0;
}

.conteudo .container{
    width: 90%;
    margin: auto;
    height: auto;
    box-shadow: 0px 10px 15px rgba(0,0,0,.5);
    overflow: hidden;
    border: 5px white solid;
    border-radius: 20px;
    font-family: 'CSGO';
}

.conteudo .container .header{
    width: 70%;
    margin: 0 auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.conteudo .container .cont{
    width: 95%;
    margin: 0 auto;
    height: 600px;
    display: flex;
    /* justify-content: center; */
    padding-bottom: 20px;
    justify-content: space-around;
    
}


.conteudo .container .cont .bt{
    width: 400px;
    height: 500px;
    display: flex;
    /* background-color: azure; */
    /* justify-content: center; */
    align-items: center;
    margin-right: 10px;
    padding-top: 40px;
}

.cont .bt button{
    width: 300px;
    height: 400px;
    position: absolute;
    /* background-color: black; */
    font-weight: 500;
    font-size: 20px;
    font-family: 'CSGO';
    color: white;
    border: 2px white solid;
    cursor: pointer;
    transition-duration: 600ms;
    border-radius: 20px;
    background: url(../imgs/interrogacao.jpg) center;
    margin-left: 30px;
}

.cont .bt button:hover{
    transform: scale(1.2);
    border-radius: 20px;
    /* background-color: #1c1c1c; */
}

.img{
    background-color: rgb(64, 61, 66);
    width: 500px;
    height: 300px;
    margin:0 10px;

}

.conteudo .container .cont img{
    width: 70%;
    height: 600px;
    background-color: black;
    margin: auto;
    border-radius: 10px;
    border: 2px white solid;
    /* background: url() center; */
}


