body {
    margin: 0;
    padding: 0;
    background-image: url(../imgs/steam.jpg);
    height: 100vh;
}

.conteudo{
    width: 100%;
    height: 70vh;
    
}

.conteudo .form{
    width: 50%;
    height: 500px;
    margin:80px auto;
    box-shadow: 0px 10px 15px rgba(0,0,0,.5);
    overflow: hidden;
    border:4px black solid ;
}

.conteudo .form header{
    background-color:black;
    color: white;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 3px black solid;
}

.conteudo .form .container2{
    width: 80%;
    margin: 10px auto;
    height: auto;
    align-items: center;
    color: white;
    line-height: 80px;
    /* background-color: black; */
}

.conteudo .form .container2 .fullbox {
    color: white;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    /* background-color: blueviolet; */
    font-family: 'CSGO';
    font-size: 30px;
}


.conteudo .form .container2 .fullbox input{
    margin:auto 10px;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-family: 'CSGO';
    font-size: 30px;
    text-align: center;
}


.conteudo .form .acesso{
    width: 80%;
    height: 100px;
    margin: auto;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteudo .form .acesso button{
    width: 29%;
    background-color: #363636;
    border: 0;
    color: white;
    height: 45px;
    margin: 0 10px;
    border-radius: 20px;
}