body {
    margin: 0;
    padding: 0;
    
    
}



/* esse épara estilizar a barra lateral */

/* aside {
    color: white;
    width: 350px;
    background: linear-gradient(329.54deg, red 0%, #000000 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

aside h1 {
    margin-top: 0;
     font-family: 'Nunito', sans-serif; 
     margin-top: .01rem; 
    font: 800 clamp(2rem, 5vw, 3.6rem)/1.1 'Nunito', sans-serif;

}

aside .container {
    margin-top: 20px;
    height: 800px;
    width: 80%;
    margin: auto;
    font: 400 clamp(2rem, .7vw, 3.6rem)/1.1 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

} */

/*Fim do aside */

#conteudo {
    width: 100%;
    /* background: url(../imgs/fund.jpg) no-repeat; */
    height: 100%;
}


header {
    background-color: #2F4F4F;
    /* background:linear-gradient(329.180deg, purple 10%, red 100%); */
    color: black;
    width: 100%;
    height: 120px;
    animation-delay: 30ms;
    display: flex;
}


header .container {
    width: 90%; 
    height: 150px;
    margin: auto;
    text-align: inherit;
    /* justify-content: center; */

}

header .container img{
    width: 150px;
    margin-top: 10px;
    float: left;
    border-radius: 100%;
    border: 4px white solid ;
}


/* Esse aqui é para mudar a cor do current */
.current {
    color: darkgrey;
}

header ul {
    padding-top: 40px;
    text-transform: uppercase;
    float: right;

}

header ul .items{
    float: left;
    list-style: none;
    margin-left: 20px;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* header li {
    float: left;
    list-style: none;
    margin-left: 20px;
    size: 30px;
    font-size: 22px;
    font-family: 'Noto Sans KR', sans-serif;


} */

a {
    text-decoration: none;
    /* font-size: 18px; */
    font-family: 'Noto Sans KR', sans-serif;
    color: black;
    /* size: 30px; */
}

a:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.box {
    width: 100%;
    height: 440px;
    background: url(../imgs/fundo.png) no-repeat center fixed;
}

.box .container {
    padding-top: 30px;
    width: 90%;
    height: 400px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.box .container .cont {
    border-radius: 31px;
    width: 50%;
    height: 400px;
    color: white;
    font-family: 'CSGO';
    margin-bottom: 1px;
    font-size: 24px;
    line-height: 1.8;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 10px 15px rgba(0,0,0,.5);
   

}

.box .container .cont p{
    margin-top: 70px;
}

/* esse é para importar criar a font CSGO dentro do nosso site */

@font-face {
    font-family: CSGO;
    src: url('../fonts/cs_regular.ttf');
    font-weight: normal;
    font-style: normal;
    /* o (ttf) é utilizado para a maioria dos navegadores*/
}

.cont-img {
    margin-top: 90px;
    width: 50%;
    height: auto;
    justify-content: space-around;
    text-align: center;
}

.box .container img {
    margin-right: 25px;
    width: 40%;
    height: 200px;
    margin: 10px 0 0 20px;
    background-color: black;
    border-radius: 5%;
    border:4px gray solid;
    transition-duration: 600ms;
    
    /* opacity: ; */

}


.box .container img:hover {
    transform: scale(1.8);
   

}






footer {
    width: 100%;
    height: 160px;
    background-color: black;
    border-top: 5px white solid;
}

footer .container {
    width: 80%;
    margin: auto;
    height: 160px;
    display: flex;
    justify-content: space-between;
}


footer img {
    margin: 30px 0;
    height: 50px;
    width: auto;
    border-radius: 100%;
    border: 4px white solid;
}

footer .container .redes{
    margin: auto;
}

.container .redes img{
    width: 200px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    margin: 20px 70px;
}